a[href="#WEBSTUDIO"] span,
a[href="#WEBSTUDIO"] {
    color: var(--IRIS, #4D5AE5);
    font-family: 'Raleway'; sans-serif;
    font-size: 18px;
    font-weight: 800;
    text-decoration: none;
    line-height: 1.17; /* 116.667% */
    gap: 76px;
}

/*GENERAL TOPLINE*/

.link {
    color: var(--NAVY-BLUE, #2E2F42);
    /* Body Medium */
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
    letter-spacing: 0.32px;
}

.link:focus {
    color: var(--OCEAN, #404BBF);
}


.link-contact {
    color: var(--SLATE, #434455);
    /* Body Medium */
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
    letter-spacing: 0.32px;
}

header {
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--WHITE, #FFF);
    width: 1158px;
    height: 72px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

div.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 24px;
    gap: 40px;
}

.main-link {
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
    
}

/*END OF GENERAL*/

ul {
    list-style: none;
} 


/*PORTFILIO-PROJECT CARDS*/

.button-container {
    color: var(--IRIS, #4D5AE5);
    text-align: center;
    background: var(--CLOUD, #F4F4FD);
    /* Button Text */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.64px;
}

.button-container:hover,
.button-container:focus {
    color: var(--WHITE, #FFF);
    background: var(--OCEAN, #404BBF);

}

/*PORTFOLIO BUTTONS*/
button {
    color: var(--WHITE, #FFF);
    cursor: pointer;
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    border-style: none;
    display: inline-block;
    justify-content: center;
       
    /* Button Text */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.64px;
}

.filter-btn {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 24px
}
/*END OF PORTFOLIO*/

/*MAIN PAGE*/

body {
    color: var(--SLATE, #434455);
    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    width: 1158px;
}


/*HERO*/
.hero {
    width: 1158px;
    /*height: 600px;
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;*/
}

.main-heading {
    background: var(--NAVY-BLUE, #2E2F42);
    border: 0;
    color: var(--WHITE, #FFF);
    width: 1158px;
    /*height: 600px;*/
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
    margin: 0;
}


 
h2 {
    color: var(--NAVY-BLUE, #2E2F42);
    /* Header 2 */
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    line-height: 1.11;
}

h3 {
    color: var(--NAVY-BLUE, #2E2F42);
    /* Header 3 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.20; /* 120% */
    letter-spacing: 0.4px;
}

footer {
    background: var(--NAVY-BLUE, #2E2F42);
    color: #F4F4FD;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.50;
    width: 1158px;
    padding-top: 140px;
    padding-bottom: 100px;
    padding-left: 156px;
    
}

    